/* font-family: 'Neucha', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Rock Salt', cursive; */

/*-------------------MAIN----------------*/

html,
body {
    font-family: 'Neucha', cursive;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: #E0EBE8;
}

hr {
    display: block;

    width: 30%;
    margin-top: .5em;
    margin-right: auto;
    margin-bottom: .5em;
    margin-left: auto;

    border-width: 5px;
    border-style: dotted none none;
    border-color: #808080;
}

hr:hover {
    display: block;

    width: 30%;
    margin-top: .5em;
    margin-right: auto;
    margin-bottom: .5em;
    margin-left: auto;

    border-width: 5px;
    border-style: dotted none none;
    border-color: #599E9B;
}

.content {
    min-height: 100%;
}

.content-inside {
    /*padding: 20px;*/
    padding-bottom: 50px;
}

/*---------------------NAVBAR------------------------*/

.topnav {
    position: fixed;
    z-index: 9999;
    top: 0;

    overflow: hidden;

    width: 100%;

    background-color: #808080;
}

.topnav a:not(.rt-4) {
    font-size: 22px;

    float: left;

    padding: 14px 30px;

    text-align: center;
    text-decoration: none;

    color: #f2f2f2;
}

.topnav a:not(.rt-4):not(.active):hover {
    transition-duration: .5s;

    color: black;
    border-radius: 30px;
    background-color: #8f64a0;
    box-shadow: inset 0 0 0 5px #241a3d;
}


.topnav a.active {
    color: white;
    border-radius: 30px;
    background-color: #599e9b;
}

#rt-4 {
    float: left;

    height: 52px;
    padding-right: 45px;
    padding-left: 45px;
}

/*------------------TOPCONTENT---------------*/

.name {
    font-family: 'Rock Salt', cursive;
    font-size: 18px;

    display: inline-block;

    margin-top: 10%;
    margin-left: 40%;

    text-align: center;
}

.t-cont {
    position: relative;

    width: 100%;
    height: 520px;
    margin-top: 50px;

    background-image: linear-gradient(to bottom left, #07031a 20%, #808080, #E0EBE8 80%);
}

#mount {
    position: absolute;
    top: 60%;

    display: inline-block;

    width: 100%;
    height: 250px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#UFO {
    position: absolute;
    top: 10%;
    right: 5%;

    display: inline-block;

    width: 20%;

    transition: .5s linear;
}

#UFO:hover {
    position: absolute;
    top: 10%;
    right: 5%;

    display: inline-block;

    width: 24%;

    transition-duration: .5s;
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}

#imgname {
    position: absolute;
    top: 7%;

    height: 300px;
    margin-left: 30%;
}


#imgsecon {
    position: absolute;
    top: 26%;

    height: 200px;
    margin-left: 35%;
}

#bird {
    position: absolute;
    top: 300px;
    left: 200px;

    display: inline-block;

    width: 50px;
    height: 30px;
}

#arrow {
    position: absolute;
    top: 35%;
    right: 21%;

    height: 15%;

    transform: rotate(-35deg);
}

.transparent {
    opacity: .7;

    filter: alpha(Opacity=70);
}

/*------------------------MIDDLECONTENT------------------*/

.m-cont {
    position: relative;

    width: 100%;
    height: auto;
    margin-top: 0;

    background-color: #E0EBE8;
}


.theme {
    font-size: 35px;

    display: block;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;

    text-align: center;
}



.par1 {
    position: absolute;
    right: 100px;

    display: inline-block;

    width: 600px;
    height: auto;
}

.par2 {
    position: absolute;
    left: 100px;

    display: inline-block;

    width: 600px;
    height: auto;
}


.paragraph {
    font-family: 'Neucha', cursive;
    font-size: 30px;

    display: block;

    width: 100%;
    height: 400px;
}

.index-image-left {
    position: absolute;
    left: 100px;

    display: inline-block;

    width: auto;
    /*float: left;*/
    height: 220px;
}

.index-image-right {
    position: absolute;
    right: 100px;

    display: inline-block;

    width: auto;
    height: 220px;
}

/*----------------------CONTACT---------------------*/


.icons {
    position: absolute;
    top: 50%;
}

/*--------------------FOOTER----------------*/

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow: hidden;

    width: 100%;
    height: 50px;
    height: 60px;
    margin-top: -50px;
    padding-top: 10px;

    text-align: center;

    background-color: #241A3D;
}

/*------------------HOBBIES----------------*/

.board {
    position: relative;

    width: 100%;
    height: 1000px;
}

.shadow {
    box-shadow: 0 0 10px 5px #000;
}

#folder1 {
    position: absolute;
    z-index: 0;
    top: 27%;
    left: 20%;

    height: 70%;
}

#img1 {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 22%;

    height: 30%;
    border-radius: 10%;
}

#img2 {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 24%;

    height: 30%;
    border-radius: 10%;
}

#img3 {
    position: absolute;
    z-index: 4;
    top: 45%;
    left: 26%;

    height: 30%;
    border-radius: 10%;
}

#img4 {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 28%;

    height: 30%;
    border-radius: 10%;
}

#img1:hover {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 32%;

    height: 30%;

    box-shadow: 0 0 10px 5px #5C4187;
    border-radius: 10%;
}

#img2:hover {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 32%;

    height: 30%;

    box-shadow: 0 0 10px 5px #5C4187;
    border-radius: 10%;
}

#img3:hover {
    position: absolute;
    z-index: 4;
    top: 45%;
    left: 32%;

    height: 30%;

    box-shadow: 0 0 10px 5px #5C4187;
    border-radius: 10%;
}

#img4:hover {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 32%;

    height: 30%;

    box-shadow: 0 0 10px 5px #5C4187;
    border-radius: 10%;
}

#folder2 {
    position: absolute;
    z-index: 999;
    top: 27%;
    left: 20%;

    height: 70%;
}

#cloudy {
    position: absolute;
    z-index: 1;
    top: 5%;

    width: 100%;
}

.smoke {
    font-family: 'Piedra', cursive;

    position: absolute;
    z-index: 999;
    top: 25%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.smoke ul {
    display: flex;

    margin: 0;
    padding: 0;
}

.smoke ul li {
    font-size: 50px;
    font-weight: bold;

    list-style: none;

    letter-spacing: 10px;

    color: #599E9B;
}

.smoke ul:hover li {
    animation: animate 2s linear forwards;
}


@keyframes animate {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity 1;
        filter: blur(1px);
    }

    100% {
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        color: #ECF1EC;
        filter: blur(20px);
    }
}

.smoke ul li:nth-child(1) {
    animation-delay: 0s;
}

.smoke ul li:nth-child(2) {
    animation-delay: .2s;
}

.smoke ul li:nth-child(3) {
    animation-delay: .3s;
}

.smoke ul li:nth-child(4) {
    animation-delay: .6s;
}

.smoke ul li:nth-child(5) {
    animation-delay: .8s;
}

/*-------------------ABOUT-----------------*/

#about {
    font-family: 'Neucha', cursive;
    font-size: 29px;

    display: block;

    width: 90%;
    margin-top: 80px;
    padding-left: 40px;
}

#whydev {
    margin-bottom: 30%;
    margin-left: 80%;
}

/*----------------------MEDIA--------------------*/

@media(max-width: 1200px) {
    .topnav {
        position: fixed;
        z-index: 9999;
        top: 0;

        overflow: hidden;

        width: 100%;

        background-color: #808080;
    }

    .topnav a:not(.rt-4) {
        font-size: 22px;

        float: left;

        padding: 4px 10px;

        text-align: center;
        text-decoration: none;

        color: #f2f2f2;
    }

    .topnav a:not(.rt-4):not(.active):hover {
        transition-duration: .5s;

        color: black;
        border-radius: 30px;
        background-color: #8f64a0;
        box-shadow: inset 0 0 0 5px #241a3d;
    }


    .topnav a.active {
        color: white;
        border-radius: 30px;
        background-color: #599e9b;
    }

    #rt-4 {
        padding-top: auto;
        padding-bottom: auto;
        float: left;

        height: 40px;
        padding-right: 20px;
        padding-left: 10px;
    }

    #imgname {
        position: absolute;
        top: 20%;

        height: 30%;
        margin-left: 10%;
    }


    #imgsecon {
        position: absolute;
        top: 28%;

        height: 25%;
        margin-left: 15%;
    }

    #bird {
        position: absolute;
        top: 300px;
        left: 100px;

        display: inline-block;

        width: 50px;
        height: 30px;
    }

    #arrow {
        position: absolute;
        top: 18%;
        right: 30%;

        height: 7%;

        transform: rotate(-35deg);
    }


    #UFO {
        position: absolute;
        top: 10%;
        right: 5%;

        display: inline-block;

        width: 30%;

        transition: .5s linear;
    }

    #UFO:hover {
        position: absolute;
        top: 10%;
        right: 5%;

        display: inline-block;

        width: 32%;

        transition-duration: .5s;
        -webkit-transform: rotateZ(20deg);
        -ms-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }

    .m-cont {
        position: relative;

        width: 100%;
        height: auto;
        margin-top: 0;

        background-color: #E0EBE8;
    }


    .par1 {
        position: absolute;
        top: 60%;
        left: 50%;
        /* position: absolute;
            display: inline-block;

            width: 600px;
            height: auto;*/

        display: inline-block;

        width: auto;
        height: auto;
        margin-right: -50%;

        transform: translate(-50%, -50%);
    }

    .par2 {
        position: absolute;
        top: 60%;
        left: 50%;
        /*right: 100px;*/
        /* position: absolute;
            display: inline-block;

            width: 600px;
            height: auto;*/

        display: inline-block;

        width: auto;
        height: auto;
        margin-right: -50%;

        transform: translate(-50%, -50%);
    }


    .paragraph {
        font-family: 'Neucha', cursive;
        font-size: 30px;

        position: relative;

        display: block;

        width: 100%;
        height: 800px;
    }

    .index-image-left {
        position: absolute;
        top: 20%;
        left: 50%;

        display: inline-block;

        width: auto;
        height: 120px;
        margin-right: -50%;

        transform: translate(-50%, -50%);
    }

    .index-image-right {
        position: absolute;
        top: 20%;
        left: 50%;

        display: inline-block;

        width: auto;
        height: 120px;
        margin-right: -50%;

        transform: translate(-50%, -50%);
    }

    .hobbi-image {
        position: absolute;
        top: 20%;
        left: 50%;

        display: inline-block;

        width: auto;
        height: 120px;
        margin-right: -50%;

        transform: translate(-50%, -50%);
    }


    hr {
        display: block;

        width: 30%;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;

        border-width: 5px;
        border-style: dotted none none;
        border-color: #496a93;
    }

    .footer {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;

        overflow: hidden;

        width: 100%;
        height: 50px;
        height: 60px;
        margin-top: -50px;
        padding-top: 10px;

        text-align: center;

        background-color: #241A3D;
    }

    #cloudy {
        position: absolute;
        z-index: 1;
        top: 5%;

        width: 100%;
    }

    .smoke {
        font-family: 'Piedra', cursive;

        position: absolute;
        z-index: 999;
        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    .smoke ul {
        display: flex;

        margin: 0;
        padding: 0;
    }

    .smoke ul li {
        font-size: 15px;
        font-weight: bold;

        list-style: none;

        letter-spacing: 2px;

        color: #599E9B;
    }

    .smoke ul:hover li {
        animation: animate 2s linear forwards;
    }

    .board {
        position: relative;
        transform: scale(.6);


        width: 100%;
        right: 31%;
        height: 1000px;
        /*bottom: 200px;*/
    }

    #folder1 {
        position: absolute;
        z-index: 0;
        top: 27%;
        left: 20%;

        height: 70%;
    }

    #img1 {
        position: absolute;
        z-index: 2;
        top: 35%;
        left: 23%;

        height: 30%;
        border-radius: 10%;
    }

    #img2 {
        position: absolute;
        z-index: 3;
        top: 40%;
        left: 24%;

        height: 30%;
        border-radius: 10%;
    }

    #img3 {
        position: absolute;
        z-index: 4;
        top: 45%;
        left: 26%;

        height: 30%;
        border-radius: 10%;
    }

    #img4 {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 28%;

        height: 30%;
        border-radius: 10%;
    }

    #img1:hover {
        position: absolute;
        z-index: 2;
        top: 35%;
        left: 32%;

        height: 30%;

        box-shadow: 0 0 10px 5px #5C4187;
        border-radius: 10%;
    }

    #img2:hover {
        position: absolute;
        z-index: 3;
        top: 40%;
        left: 32%;

        height: 30%;

        box-shadow: 0 0 10px 5px #5C4187;
        border-radius: 10%;
    }

    #img3:hover {
        position: absolute;
        z-index: 4;
        top: 45%;
        left: 32%;

        height: 30%;

        box-shadow: 0 0 10px 5px #5C4187;
        border-radius: 10%;
    }

    #img4:hover {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 32%;

        height: 30%;

        box-shadow: 0 0 10px 5px #5C4187;
        border-radius: 10%;
    }

    #folder2 {
        position: absolute;
        z-index: 999;
        top: 27%;
        left: 20%;

        height: 70%;
    }
}